#Reference from: https://stackoverflow.com/questions/21573405/how-to-prepare-a-unity-project-for-git
# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
/.vs
*.Editor.csproj
Add Comment Collapse